body {
  box-sizing: border-box;
  background: #2569cf;
  background-image: url(Walt-Disney-logo.png);
  background-size: 75%;
  background-repeat: no-repeat;
  color: White;
}

@font-face {
  font-family: Waltograph;
  src: url(waltograph.regular.ttf);
}

h1, h2 {
  font-family: 'Waltograph';
  font-weight: 400;
}

h1{
  font-size: 3em;
}

h2 {
  font-size: 2em;
}